.g-side-bar {
    position: absolute;
    height: 100vh;
    width: 400px;
    z-index: 1000;
    top: 0;
}

.g-side-bar__header {
    padding: 16px;
    background-color: #14A38B;
}

.g-side-bar__inner {
    height: 100%;
    width: 100%;
    background-color: #DBE2EA;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

.g-side-bar__inner--hidden {
    min-width: unset;
    width: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.g-side-bar__body {
    padding: 16px;
}

.g-side-bar__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 0;
}

.g-side-bar__nav-link {
    list-style: none;
    cursor: pointer;
    display: flex;
}
.g-side-bar__nav-link.active {
    color: #0880AE;
}

.g-side-bar__hide-btn {
    position: absolute;
    background: #fff;
    left: 400px;
    padding: 25px 4px;
    transition:  0.3s ease-in-out;
}

.g-side-bar__hide-btn--down {
    top: 100px;
}

.g-side-bar__hide-btn--active {
    left: 0;
}

.g-side-bar__hide-btn svg {
    transform: rotate(180deg);
    transition:  0.5s ease-in-out;
}

.g-side-bar__hide-btn--active svg {
    transform: rotate(0deg);
}

.g-side-bar__interesting {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02), 0px 24px 48px rgba(44, 39, 56, 0.04);
    border-radius: 24px;
    padding: 16px;
    min-height: 240px;
    min-width: 200px;
}

.g-side-bar__categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 16px;
    gap: 8px;
}

.g-side-bar__category {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    align-items: center;
}

.g-side-bar__category-icon {
    border-radius: 100%;
    height: 32px;
    width: 32px;
    background-color: #fff;
}

.g-side-bar__magic {
    font-weight: bold;
    padding: 8px;
    width: 100%;
    border: 1px solid #1cacd7;
    color: #1cacd7;
    text-align: center;
}
