@import './normalize.css';

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.leaflet-top {
    top: 50% !important;
}

.leaflet-left {
    right: 60px;
    left: unset !important;
}